/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

a {
  text-decoration: none;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.grid-5-7 {
  display: grid;
  justify-content: center;
  align-items: start;
  grid-template-columns: 5fr 7fr;
  gap: 20px;
}
@media (max-width: 1200px) {
  .grid-5-7 {
    display: grid;
    justify-content: center;
    align-items: start;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }
}
@media (max-width: 800px) {
  .grid-5-7 {
    display: grid;
    justify-content: center;
    align-items: start;
    grid-template-columns: 1fr;
    gap: 0px;
  }
}

.grid-main-1 {
  display: grid;
  justify-content: start;
  align-items: end;
  grid-template-columns: 1fr;
  gap: 80px;
}
@media (max-width: 800px) {
  .grid-main-1 {
    display: grid;
    justify-content: start;
    align-items: end;
    grid-template-columns: 1fr;
    gap: 40px;
  }
}

.grid-cardapio {
  display: grid;
  justify-content: start;
  align-items: start;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.grid-formulario {
  display: grid;
  justify-content: start;
  align-items: end;
  grid-template-columns: 1fr;
  gap: 5px;
}

.grid-formulario-2 {
  display: grid;
  justify-content: start;
  align-items: start;
  grid-template-columns: 1fr 1fr;
  gap: 5px 20px;
}

body {
  background: #edece4;
}
body .container {
  width: min(100% - 40px, 1200px);
  margin-inline: auto;
}
body .borda-media {
  border: 10px solid #cbc6b9;
}
body .borda-redonda {
  border-radius: 50%;
}
body .cor-pc {
  color: #edece4;
}
body .cor-pm {
  color: #cbc6b9;
}
body .cor-pe {
  color: #988c77;
}
body .cor-pe-2 {
  color: #2a2426;
}
body .uppercase {
  text-transform: uppercase;
}
body .f-1 {
  font: 400 1.2rem/1.6rem "PT Mono", monospace;
}
body .f-2 {
  font: 400 1.3rem/1.25rem "Aref Ruqaa", serif;
}
body .titulo {
  position: relative;
  font: 400 1.2rem/1.6rem "PT Mono", monospace;
  font-size: rem(32);
  display: flex;
  align-items: center;
}
body .titulo::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 2px;
  background: #2a2426;
  bottom: 0;
  right: 0;
}
body .pt-60 {
  padding-top: 60px;
}
@media (max-width: 800px) {
  body .pt-60 {
    padding-top: 30px;
  }
}
body img {
  display: block;
  max-width: 100%;
}

#intro .info {
  margin-right: 30%;
  border-right: 2px solid #2a2426;
}
#intro .info li {
  display: flex;
  align-items: center;
  gap: 20px;
}
#intro .info li:first-child::after {
  display: inline-block;
  content: "";
  background: #1ab912;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 15%;
  right: 35%;
}
#intro .info li:nth-child(2) {
  padding-bottom: 20px;
  border-bottom: 2px solid #2a2426;
}
#intro .info li:nth-child(3), #intro .info li:last-child {
  padding-top: 20px;
}
@media (max-width: 1200px) {
  #intro .info {
    margin-right: 0;
    border: none;
  }
}
#intro .detalhe span {
  font-size: 20rem;
}
@media (max-width: 1200px) {
  #intro .detalhe span {
    display: none;
  }
}
#intro .img-restaurante img {
  width: min(100% - 20px, 100%);
}

#menu .cardapio h3 {
  font: 400 1.3rem/1.25rem "Aref Ruqaa", serif;
  font-size: 1.8rem;
  margin-bottom: 40px;
}
#menu .cardapio ul li {
  display: flex;
  gap: 10px;
  font: 400 1.2rem/1.6rem "PT Mono", monospace;
  margin-bottom: 10px;
}
#menu .cardapio ul li span {
  font: 400 1.3rem/1.25rem "Aref Ruqaa", serif;
  color: #988c77;
}
#menu .cardapio .entradas li span {
  margin-left: -70px;
}
#menu .cardapio .pratos-principais li span {
  margin-left: -80px;
}
#menu .img-menu {
  align-self: end;
  justify-self: center;
}

#contato form input, #contato form textarea {
  font: 400 1.2rem/1.6rem "PT Mono", monospace;
  color: #2a2426;
  height: 30px;
  padding-block: 5px;
  border: 2px solid #988c77;
  background: transparent;
  margin-bottom: 10px;
}
#contato form input:hover, #contato form input:focus, #contato form textarea:hover, #contato form textarea:focus {
  outline: none;
  border-color: #cbc6b9;
}
#contato form textarea {
  height: 150px;
}
#contato form .flex-formulario {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
#contato form .flex-formulario .btn-submit {
  display: block;
  background: transparent;
  cursor: pointer;
  font: 400 1.2rem/1.6rem "PT Mono", monospace;
  text-transform: uppercase;
  color: #988c77;
  border: 2px solid #988c77;
  padding-inline: 80px;
  box-shadow: rgb(203, 198, 185) 5px 5px 0px -2px, rgb(152, 140, 119) 5px 5px 0px 0px;
  transition: 0.3s all;
}
#contato form .flex-formulario .btn-submit:hover {
  box-shadow: rgb(203, 198, 185) 2px 2px 0px -2px, rgb(152, 140, 119) 2px 2px 0px 0px;
}

#contato img {
  width: 100%;
}

footer {
  margin-top: 60px;
  background: #2a2426;
  padding-block: 20px;
  box-shadow: #2a2426 0px 0px 0px 10px;
}
footer .container {
  display: flex;
  justify-content: space-between;
}
